.App {
  background-color: lightblue;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.background {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  padding: 10rem;
  margin: 3rem;
  background-color: white;
  border-radius: 20px;
}

.formGroup {
  margin: 2rem 0;
  display: block;
}

.label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.control {
  padding: 0.3rem;
}

.signUpBtn {
  width: 100%;
  margin-bottom: 2rem;
}

.loginHref {
  text-decoration: none;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.searchBox {
  width: 100%;
  margin: 0 0 75px;
}
.weatherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: block;
  width: 100%;
  padding: 2rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4 ease;
}
.searchBar:focus {
  background: rgba(255, 255, 255, 0.75);
}

.genre-card-list {
  display: flex;
  flex-direction: column;
}

.genre-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.genre-card {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2vh;
  margin: 5vh;
  border-radius: 1vh;
}

.genres-div {
  font-family: "Lato";
  display: flex;
  flex-direction: row;
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #7c795d;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}
