.App {
  background-color: lightblue;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.background {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
li {
  list-style-type: none;
}
li {
  margin-bottom: 5px;
}
.songStyle {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  display: flex;
  justify-content: space-between;
}
.songName {
  padding: 0 10px;
  margin: 10px;
  color: #251151;
}
.button-like {
  cursor: pointer;
}
.genreCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
form {
  padding: 10rem;
  margin: 3rem;
  background-color: white;
  border-radius: 20px;
}

.formGroup {
  margin: 2rem 0;
  display: block;
}

.label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.control {
  padding: 0.3rem;
}

.signUpBtn {
  width: 100%;
  margin-bottom: 2rem;
}

.loginHref {
  text-decoration: none;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.searchBox {
  width: 100%;
  margin: 0 0 75px;
}
.weatherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: block;
  width: 100%;
  padding: 2rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4 ease;
}
.searchBar:focus {
  background: rgba(255, 255, 255, 0.75);
}

.genre-card-list {
  display: flex;
  flex-direction: column;
}

.genre-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.genre-card {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2vh;
  margin: 5vh;
  border-radius: 1vh;
}

.genres-div {
  /* font-family: "Lato"; */
  display: flex;
  flex-direction: row;
}

h1 {
  color: #8a2be2;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

p {
  color: #0000ff;
}
h2 {
  color: #7c795d;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}
.songName {
  font-family: "Poppins", sans-serif;
  color: #251151;
}

.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 0.5rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.App {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}